a.icon-twitter(href="http://j.mp/al_the_x--twitter", rel="track external",
    data-event-label="connect",
    data-event-value="twitter"
) Twitter
="\n"
a.icon-github(href="http://j.mp/al_the_x--github", rel="track external",
    data-event-label="connect",
    data-event-value="github"
) GitHub
="\n"
a.icon-linkedin(href="http://j.mp/al_the_x--linkedin", rel="track external",
    data-event-label="connect",
    data-event-value="linkedin"
) LinkedIn
="\n"
a.icon-stackoverflow(href="http://j.mp/al_the_x--stackoverflow", rel="track external",
    data-event-label="connect",
    data-event-value="stackoverflow"
) Stack Overflow
